body {
  background: url(../Assets/img/backgroundv2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.sorry-wrapper h1 {
  color: #fff;
  text-align: center;
  font-size: 36px;
}

.sorry-wrapper h2 {
    color: #fff;
  }
